header.header
    .header_column
        a(href=routes.home)
            i.fab.fa-google-play &nbsp;&nbsp; #{siteName}
    .header_column
        form.frm(action=routes.search, method="get")
            input(type="text", placeholder="검색", name="searchWrd")
    .header_column
        ul
            if !user
                li
                    a(href=routes.join) 회원가입
                li
                    a(href=routes.login) 로그인
            else
                li
                    a(href=`/videos${routes.upload}`) 업로드
                li
                    a(href=routes.user_detail(user.id)) 프로필
                li
                    a(href=routes.logout) 로그아웃