extends ../layout/main
include ../mixin/videoBlock

block content
    .user-profile 
        .user-profile__header
            if  user.avatarUrl
                img.U-avatar(src=user.avatarUrl)
            else 
                div
            h4.profile__username=user.name
        if loggedUser && loggedUser.id === user.id
            .user-profile__btns
            a(href=`/users${routes.edit_profile}`)
                button Edit Profile
            a(href=`/users${routes.change_password}`)
                button Change Password
        .videoBlock
            each video in videos
                //- video(src=`/${video.fileUrl}`, controls=true)
                +videoBlock({
                    id:video.id,
                    title:video.title,
                    description:video.description,
                    views:video.views,
                    videoFile:video.fileUrl
                })



    //- .videos
    //-     each video in videos
    //-         +videoBlock({
    //-             id:video.id,
    //-             title:video.title, 
    //-             description:video.description,
    //-             views:video.views,
    //-             videoFile:video.fileUrl
    //-         })